/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: #000000;
  font-size: 12pt;
  color: #ffffff;
  margin: 2em;
}

h1 {
  color: #ffffff;
  text-align: center;
}

button {
  background-color: #111111;
  border: 2px solid #000000;
  -webkit-animation: mymove 5s infinite;
  animation: fadeInButton 5s infinite;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-size: 12pt;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
  border: 2px solid white;
}

a {
  text-decoration: none;
  color: white;
}

th, td {
  border: 1px solid #aaaaaa;
  text-align: left;
  padding: 5px;
}

.center {
  text-align: center;
}

.code {
  font-family: 'Roboto Mono', monospace;
}

@-webkit-keyframes fadeInButton {
  from { border-color: #000000; }
  to { border-color: #55555; }
}
@keyframes fadeInButton {
  from { border-color: #000000; }
  to { border-color: #55555; }
}